*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Nunito;
  color: #ffffff;
  
}

.container{
  width:80%;
  margin:auto;
}
.button-search {
  cursor: pointer;
  font-size: 1vw;
  font-weight: 700;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.555);
  border: none;
  outline: none;
  padding: 0 0.5vw 0 0.5vw;
  position: relative;
  border-radius: 10px;
}
.button-search::after {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.123);
  
  transition: transform 200ms ease-in;
  top: 0;
  width: 100%;
  height: 100%;
  left:0;
}
.button-search::after {
  transform: scaleX(0);
  transform-origin: right;
}
.button-search:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.button-search:hover {
  color: white;
}










.App{
  height:100vh;
  width:100%;
}

.title{
  padding:20px 0 40px 0;
  color:#fff;
}
.row {
  display: flex;
  flex-direction: row;
}
.nav-container1 {
  width: 40vw;
}
.nav-container2 {
  width: 40vw;
}
.weather-temp{
  padding-bottom:40px;
  padding-left:60px;
}
.main-container {
  display: flex;
  flex-direction: row-reverse;
}
.container1  {
  /* margin-left: 15vw; */
  height: 30vw;
  width: 40vw;
  background-color: rgba(255, 255, 255, 0.603);
  
}
.container2 {
  background-color: rgba(255, 255, 255, 0.308);
  
  height: 30vw;
  width: 40vw;
  display: grid;
  place-items: center;
}
.container2 h1, p, .weather-info , h2 {
  color: rgb(7, 7, 7);
}
.weather-info {
  display: grid;
  place-items: center;
  flex-direction: column;
}
.weather-temp h1 , .weather-temp h4 , .weather-temp p{
  padding-bottom: 10px;
  
}
.user-weather{
  color:#fff;
  border:1px solid #fff;
}
.navbar{
  background-color:#ddd;
}
.region{
  margin-top:30px;
}

.regioninput{
  background:none;
  border:none;
  border-bottom:1px solid #fff;
  padding:0 50px 0 0px;
  outline:none;
}

.regioninput::placeholder{
  font-family:Nunito;
  font-weight:600;
  font-size:1rem;
  padding-left:0;
}

.humid-precip {
  display: flex;
  flex-direction: row;
}
.precip  {
  padding-right: 2vw;
}
.humid  {
  padding-left: 2vw;
}


.very-grey {
  width: 40vw;
  height: 30vw;
  background-image: url(./components/creative-rain_01.jpg)  ;
  background-repeat: no-repeat;
  background-size: 120%;
}

.grey {
  width: 40vw;
  height: 30vw;
  background-image: url(./components/5-10-19-2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.rain {
  width: 40vw;
  height: 30vw;
  background-image: url(./components/rain-weather-accuracy.jpg)  ;
  background-repeat: no-repeat;
  background-size: 150%;
}
.clear {
  width: 40vw;
  height: 30vw;
  background-image: url(./components/176041.jpg) ;
  background-repeat: no-repeat;
  background-size: 100%;
}
.bright {
  width: 40vw;
  height: 30vw;
  background-image: url(./components/summer-blue-sky-and-sun-with-parasol-e1565779177430.jpg) ;
  background-repeat: no-repeat;
  background-size: 120%;
}
.sunny {
  width: 40vw;
  height: 30vw;
  background-image: url(./components/sunny-sky-png-welcome-to-sunny-skies-1050.jpg)  ;
  background-repeat: no-repeat;
  background-size: 120%;
}
.bright-sunny {
  width: 40vw;
  height: 30vw;
  background-image: url(./components/maxresdefault.jpg) ;
  background-repeat: no-repeat;
  background-size: 140%;
}

@media (max-width: 466px) {
  
  .main-container {
    display: block;
    text-align: center;
  }
  
  .container2, .container1 {
    width: 100%;
    height: 100%;
  }
  
  .container2 {
    width: 79.5vw;
    height: 55vw;
    
  }

  .container1, .container2 {
    background-color: rgba(255, 255, 255, 0.603);
    /* padding: 10vw; */
  }


  .row {
    display: flex;
    flex-direction: column;
    padding-bottom: 10vw;
  }
  
  .very-grey {
  
    width: 79.5vw;
    height: 61vw;
  }
  .grey {
  
    width: 79.5vw;
    height: 61vw;
  }
  .rain {
  
    width: 79.5vw;
    height: 61vw;
  }
  .clear{
  
    width: 79.5vw;
    height: 61vw;
  }
  .bright {
  
    width: 79.5vw;
    height: 63vw;
  }
  .sunny {
  
    width: 79.5vw;
    height: 61vw;
  }
  .bright-sunny {
  
    width: 79.5vw;
    height: 61vw;
}
.button-search {
  cursor: pointer;
  font-size: 4vw;
  color:black;
  padding: 2vw;
  position: relative;
  border-radius: 0px;
}

}